* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Oswald", sans-serif;
  font-size: 62.5%;
  color: #fff;
}

.title {
  text-align: center;
  line-height: 1.6;
}
.title > p:first-of-type {
  font-size: 1.4rem;
  color: #e62b4a;
  font-weight: 300;
}
.title > h2 {
  font-size: 5rem;
  color: #fff;
  font-weight: 400;
}
.title p:last-of-type {
  font-size: 1.6rem;
  color: #888888;
  font-weight: 700;
  margin-top: 2rem;
}

/* header  */
header {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 10;
  width: 100%;
}
.header__content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.6rem 0;
}
.header__content ul {
  list-style: none;
}
.header__logo {
  font-size: 3.2rem;
  font-weight: 700;
  /* color: #fff; */
}
.header__content li {
  display: inline-block;
  padding: 0 2.6rem;
}
.header__content li.active a {
  color: #e62b4a;
}
.header__content li a {
  font-size: 1.7rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
/* carousel  */
.carousel {
  background-image: url(../img/home_slider.jpg);
  background-size: cover;
  background-position: center;
  height: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__content {
  text-align: center;
}
.carousel__content p {
  font-size: 2.5rem;
}
.carousel__content h1 {
  font-size: 7.5rem;
}
.carousel__content button {
  font-size: 1.6rem;
  margin-top: 2rem;
  padding: 1.5rem 2.5rem;
  background-color: #e62b4a;
  color: white;
  border: 1px solid #e62b4a;
  cursor: pointer;
  transition: all 0.5s;
}
.carousel__content button:hover {
  background-color: #af2239;
}
.carousel__scroll i {
  margin-top: 5rem;
  font-size: 3rem;
  animation: arrowDown 1s linear 0s infinite;
}

/* service  */
.service {
  text-align: center;
  padding: 9rem 0;
  background-color: #000;
}
.service__content {
  width: 75%;
  margin: 0 auto;
  letter-spacing: 1px;
}

.service__slider {
  margin-top: 2rem;
}

.service__slider .item {
  width: 21.4rem;
  height: 23rem;
  border: 2px solid #81807d;
  background-color: #fff;
  color: #848482;
  text-align: center;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.service__slider .item i {
  font-size: 5rem;
  color: #888888;
}
.service__slider .item p {
  font-size: 1.4rem;
}
.service__slider .item::after {
  content: "";
  height: 0;
  width: 5px;
  background-color: #e62b4a;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s linear;
}
.service__slider .item:hover::after {
  height: 100%;
}
.slick-content .slick-dots li button:before {
  color: #fff;
  font-size: 5rem;
}
.slick-content .slick-dots li.slick-active button:before {
  color: #e62b4a;
}
.slick-prev:before,
.slick-next:before {
  visibility: hidden;
}
/* blog  */
.blogs {
  padding: 9rem 0;
  background-color: #fff;
}
.title--black p:first-of-type {
  color: #888888;
  font-weight: 400;
  font-size: 1.6rem;
}
.title--black h2 {
  color: black;
  font-size: 50px;
  font-weight: 400;
}
.blogs__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  width: 75%;
  margin: 50px auto 0;
}
.blogs__metro1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.blogs__metro10 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}
.blogs__item img {
  width: 100%;
  height: 100%;
  filter: grayscale(50%) contrast(50%);
  background-size: cover;
  transition: all 0.5s;
}

.blogs__item {
  position: relative;
  overflow: hidden;
}
.blogs__overlay {
  background-color: rgba(230, 43, 74, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  opacity: 0;
  transition: all 0.5s;
}
.blogs__item:hover .blogs__overlay {
  opacity: 1;
}

.blogs__icon {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
}
.blogs__icon i {
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  background-color: #fff;
  font-size: 1.4rem;
  color: #000;
  margin-bottom: 1rem;
  transform: translateY(2rem);
  transition: all 0.8s;
}
.blogs__item:hover .blogs__icon i {
  transform: translate(0);
}
.blogs__icon i:hover {
  background-color: #000;
  color: #fff;
}
.blogs__text p {
  color: #d0c7c8;
  font-size: 1.6rem;
}
.blogs__text h3 {
  font-size: 1.9rem;
  color: #fff;
}
.blogs__text {
  position: absolute;
  left: 25px;
  bottom: 25px;
  transform: translateY(20px);
  transition: all 0.8s;
}
.blogs__item:hover .blogs__text {
  transform: translate(0);
}
/* nuber  */
.number {
  background-color: #000;
  padding: 10rem 0;
}
.number__content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.number__item {
  width: 25%;
}
.number__item p:first-of-type {
  font-size: 6rem;
  font-weight: 300;
}
.number__item p:last-of-type {
  font-size: 2rem;
  color: #888888;
}
/* experience  */
.experience {
  /* background-color: #F3F3F3; */
  background-image: url(../img/bussiness_img_1.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 10rem 0;
}
.experience__content {
  width: 75%;
  margin: 30px auto 0;
}
.experience__content video {
  width: 100%;
  object-fit: cover;
  border: none;
  box-shadow: 0 2px 10px 1px rgb(0 0 0 / 50%);
  outline: none;
}
/* CONTACT  */
.contact {
  padding: 10rem 0;
}
.contact__content {
  display: flex;
  width: 75%;
  margin: 3rem auto 0;
  align-items: center;
}
.contact__map {
  width: 60%;
}
.contact__map iframe {
  width: 100%;
}
.contact__form {
  width: 40%;
}
.contact__form form {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}
.contact__form input,
.contact__form textarea {
  font-size: 1.5rem;
  padding: 1em;
  border: 1px solid #888888;
  border-radius: 2px;
  margin-bottom: 3rem;
}
button {
  padding: 20px 30px;
  border: 1px solid black;
  background-color: #000;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s;
}
button:hover {
  background-color: #e62b4a;
  border-color: #e62b4a;
}

/* footer  */
footer {
  background-color: #000;
}
.footer__content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}
.footer__content p {
  font-size: 1.4rem;
}
.footer__content a {
  width: 54px;
  height: 54px;
  display: inline-block;
  border-radius: 50%;
  line-height: 54px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  margin-left: 5px;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.5s;
}
.footer__content a:hover {
  background-color: #e62b4a;
  border-color: #e62b4a;
}
.backtotop {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  font-weight: bold;
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  visibility: hidden;
  opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

@keyframes arrowDown {
  form {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(4rem);
  }
}
