*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Oswald', sans-serif;
    font-size: 62.5%;
}
/* header  */
.header__content{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.6rem 0;
}
.header__content ul{
    list-style: none;
}
.header__logo{
    font-size: 3.2rem;
    font-weight: 700;
    /* color: #fff; */
}
.header__content li{
    display: inline-block;
    padding: 0 2.6rem;
}
.header__content li.active a{
    
}
.header__content li a{
    font-size: 1.7rem;
    text-transform: uppercase;
    text-decoration: none;
}
nav{

}
