* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Oswald", sans-serif;
  font-size: 62.5%;
}
/* header  */
header {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 10;
  width: 100%;
}
.header__content {
  width: 75%;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.6rem 0;
}
.header__content ul {
  list-style: none;
}
.header__logo {
  font-size: 3.2rem;
  font-weight: 700;
  /* color: #fff; */
}
.header__content li {
  display: inline-block;
  padding: 0 2.6rem;
}
.header__content li.active a {
  color: #e62b4a;
}
.header__content li a {
  font-size: 1.7rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
/* carousel  */
.carousel {
    background-image: url(../img/home_slider.jpg);
    background-size: cover;
    background-position: center;
    height: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel__content{
    color: #fff;
    text-align: center;
}
.carousel__content p{
    font-size: 2.5rem;
}
.carousel__content h1{
    font-size: 7.5rem;
}
.carousel__content button {
    font-size: 1.6rem;
    margin-top: 2rem;
    padding: 1.5rem 2.5rem;
    background-color: #e62b4a;
    color: white;
    border: 1px solid #e62b4a;
    cursor: pointer;
    transition: all 0.5s;
}
.carousel__content button:hover {
    background-color: #af2239;
}
.carousel__scroll i {
    margin-top: 5rem;
    font-size: 3rem;
    animation: arrowDown 1s linear 0s infinite;
}

/* service  */
.service{
    text-align: center;
    padding: ;

}





@keyframes arrowDown{
    form{
        opacity: 1;
        transform: translateY(0);
    }
    to{
        opacity: 0;
        transform: translateY(4rem);
    }
}